# Funci√≥n map()

In [1]:
numeros = [2,5,10,23,50,33]

def doblar(numero):
    return numero * 2

map(doblar, numeros)

In [2]:
m = map(doblar, numeros)

In [4]:
next(m)

4

In [5]:
list(m)

[10, 20, 46, 100, 66]

In [9]:
# Con funciones lambda
resultados = list(map(lambda numero: numero*2, numeros))
resultados

[4, 10, 20, 46, 100, 66]

### Uso de Map() con funciones *lambda*

In [10]:
# Lista 1
l1 = [1,2,3,4,5]
# Lista 2
l2 = [10,9,8,7,6]

# Para meter dos valores, es necesario que tengan la misma longitud las listas
l3 = list(map(lambda x,y: x*y, l1,l2))
l3

[10, 18, 24, 28, 30]

In [11]:
class Persona:
    def __init__(self,nombre,edad):
        self.nombre = nombre
        self.edad = edad
        
    def __str__(self):
        return f"-- {self.nombre} ({self.edad})"
    
personas = [
    Persona('Aldo', 36),
    Persona('Fer', 20),
    Persona('Fat', 17),
    Persona('Haid', 20),
    Persona('Mariela', 13),
]

for persona in personas:
    print(persona)

-- Aldo (36)
-- Fer (20)
-- Fat (17)
-- Haid (20)
-- Mariela (13)

In [13]:
list(map(lambda persona: persona.edad + 1, personas))

[37, 21, 18, 21, 14]

In [14]:
personas

[<__main__.Persona at 0x2546c6f84c0>,
 <__main__.Persona at 0x2546d84df30>,
 <__main__.Persona at 0x2546d84cf10>,
 <__main__.Persona at 0x2546d861ba0>,
 <__main__.Persona at 0x2546d861e40>]

In [15]:
for persona in personas:
    print(persona)

-- Aldo (36)
-- Fer (20)
-- Fat (17)
-- Haid (20)
-- Mariela (13)

In [16]:
personas = list(map(lambda persona: Persona(persona.nombre, persona.edad+1), personas))

In [17]:
for persona in personas:
    print(persona)

-- Aldo (37)
-- Fer (21)
-- Fat (18)
-- Haid (21)
-- Mariela (14)